In [1]:
import pandas as pd

# Finding the nulls

In [10]:
df=pd.read_csv('dataset.csv')
df.isna().sum()

customerID            0
gender                0
SeniorCitizen        43
Partner               0
Dependents            0
tenure              147
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          0
Churn                 0
dtype: int64

# Filling the nulls in seniorcitizen with mean

In [22]:
mean=df.SeniorCitizen.mean()
df.SeniorCitizen.fillna(mean, inplace=True)

# Filling the nulls in tenure with zeros

In [23]:
df.tenure.fillna(0,inplace=True)

# Making sure that nulls no longer exist

In [24]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

# Dealing with Outliers in Tenure

In [25]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.163143,Yes,No,0.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.163143,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.163143,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.163143,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.163143,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [26]:
df['tenure']=round(df.TotalCharges/df.MonthlyCharges,0).astype(int)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.163143,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.163143,No,No,33,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.163143,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.163143,No,No,44,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.163143,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Label Encoding (Categorical Data)

In [46]:
newDf=df[['gender','Partner','PhoneService','MultipleLines','InternetService']]
newDf.head()

   gender Partner PhoneService     MultipleLines InternetService
0       0     Yes           No  No phone service             DSL
1       1      No          Yes                No             DSL
2       1      No          Yes                No             DSL
3       1      No           No  No phone service             DSL
4       0      No          Yes                No     Fiber optic

In [29]:
from sklearn.preprocessing import LabelEncoder

In [47]:
le_gender=LabelEncoder()
le_part=LabelEncoder()
le_serv=LabelEncoder()
le_lines=LabelEncoder()
le_internet=LabelEncoder()

In [48]:
newDf['gender']=le_gender.fit_transform(newDf.gender)
newDf['Partner']=le_part.fit_transform(newDf.Partner)
newDf['PhoneService']=le_serv.fit_transform(newDf.PhoneService)
newDf['MultipleLines']=le_lines.fit_transform(newDf.MultipleLines)
newDf['InternetService']=le_internet.fit_transform(newDf.InternetService)

<ipython-input-48-a9f4d7b4b555>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['gender']=le_gender.fit_transform(newDf.gender)
<ipython-input-48-a9f4d7b4b555>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['Partner']=le_part.fit_transform(newDf.Partner)
<ipython-input-48-a9f4d7b4b555>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['PhoneService']=le_serv.fit_transform(newDf.PhoneService)
<ipython-input-48-a9f4d7b4b555>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['MultipleLines']=le_lines.fit_transform(newDf.MultipleLines)
<ipython-input-48-a9f4d7b4b555>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['InternetService']=le_internet.fit_transform(newDf.InternetService)

In [49]:
newDf.head()

   gender  Partner  PhoneService  MultipleLines  InternetService
0       0        1             0              1                0
1       1        0             1              0                0
2       1        0             1              0                0
3       1        0             0              1                0
4       0        0             1              0                1

# Feature Scaling

In [50]:
df['tenure']=(df.tenure-df.tenure.min())/(df.tenure.max()-df.tenure.min())

In [51]:
df['MonthlyCharges']=(df.MonthlyCharges-df.MonthlyCharges.min())/(df.MonthlyCharges.max()-df.MonthlyCharges.min())

In [52]:
df['TotalCharges']=(df.TotalCharges-df.TotalCharges.min())/(df.TotalCharges.max()-df.TotalCharges.min())

In [53]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0.163143,Yes,No,0.000000,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,0.115423,0.001275,No
1,5575-GNVDE,1,0.163143,No,No,0.278261,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,0.385075,0.215867,No
2,3668-QPYBK,1,0.163143,No,No,0.008696,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,0.354229,0.010310,Yes
3,7795-CFOCW,1,0.163143,No,No,0.373913,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),0.239303,0.210241,No
4,9237-HQITU,0,0.163143,No,No,0.008696,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,0.521891,0.015330,Yes

In [54]:
df.MonthlyCharges.max(),df.MonthlyCharges.min()

(1.0, 0.0)

# Feature Selection

In [55]:
#Here we don't need customer ID , StreamingMovies so we'll drop these 2 columns
df.drop('customerID',axis=1, inplace=True)
df.drop('StreamingMovies',axis=1, inplace=True)

In [56]:
#Making sure that the columns are removed
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0.163143,Yes,No,0.000000,No,No phone service,DSL,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,0.115423,0.001275,No
1,1,0.163143,No,No,0.278261,Yes,No,DSL,Yes,No,Yes,No,No,One year,No,Mailed check,0.385075,0.215867,No
2,1,0.163143,No,No,0.008696,Yes,No,DSL,Yes,Yes,No,No,No,Month-to-month,Yes,Mailed check,0.354229,0.010310,Yes
3,1,0.163143,No,No,0.373913,No,No phone service,DSL,Yes,No,Yes,Yes,No,One year,No,Bank transfer (automatic),0.239303,0.210241,No
4,0,0.163143,No,No,0.008696,Yes,No,Fiber optic,No,No,No,No,No,Month-to-month,Yes,Electronic check,0.521891,0.015330,Yes