In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Orange_Telecom_Churn_Data.csv')
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

# How Many users have voice mail service?

In [12]:
df[df.voice_mail_plan=='yes'].shape[0]

1323

# Average of vmail messages for subscribed users only

In [18]:
df.groupby(['voice_mail_plan']).()['number_vmail_messages']

voice_mail_plan
no      0.000000
yes    29.309146
Name: number_vmail_messages, dtype: float64

# Another way to find average

In [31]:
sum_Of_vmail_Messages= df[df.voice_mail_plan=='yes'].sum()['number_vmail_messages']
num_of_users=df[df.voice_mail_plan=='yes'].shape[0]

round((sum_Of_vmail_Messages/num_of_users),6)

29.309146

# Total daylight minutes per state

In [26]:
df.groupby(['state']).sum().total_day_minutes

state
AK    13029.0
AL    23494.8
AR    16117.1
AZ    15704.7
CA     8992.5
CO    16935.5
CT    17382.1
DC    15173.3
DE    17253.1
FL    15872.7
GA    14648.1
HI    15239.0
IA    12073.4
ID    21696.0
IL    15201.3
IN    18443.0
KS    18996.0
KY    17936.9
LA    14236.8
MA    19044.5
MD    19479.5
ME    19147.9
MI    18207.1
MN    22829.1
MO    15767.5
MS    17476.3
MT    17623.7
NC    16435.6
ND    16076.2
NE    15219.1
NH    16875.6
NJ    21513.7
NM    15921.9
NV    16324.7
NY    20246.2
OH    21544.5
OK    16771.5
OR    20327.1
PA    14374.9
RI    17191.3
SC    15798.3
SD    15732.9
TN    15784.4
TX    21411.8
UT    21187.8
VA    21166.1
VT    18269.0
WA    17847.4
WI    18649.7
WV    27969.0
WY    20804.9
Name: total_day_minutes, dtype: float64

# Total daylight charge per state

In [27]:
df.groupby(['state']).sum().total_day_charge

state
AK    2214.96
AL    3994.15
AR    2739.95
AZ    2669.85
CA    1528.75
CO    2879.09
CT    2954.99
DC    2579.55
DE    2933.09
FL    2698.40
GA    2490.23
HI    2590.63
IA    2052.57
ID    3688.39
IL    2584.26
IN    3135.36
KS    3229.35
KY    3049.40
LA    2420.31
MA    3237.57
MD    3311.58
ME    3255.24
MI    3095.25
MN    3881.04
MO    2680.57
MS    2971.03
MT    2996.03
NC    2794.11
ND    2733.05
NE    2587.27
NH    2868.93
NJ    3657.36
NM    2706.74
NV    2775.24
NY    3441.92
OH    3662.64
OK    2851.17
OR    3455.71
PA    2443.76
RI    2922.59
SC    2685.79
SD    2674.62
TN    2683.39
TX    3640.06
UT    3601.98
VA    3598.29
VT    3105.82
WA    3034.09
WI    3170.47
WV    4754.86
WY    3536.89
Name: total_day_charge, dtype: float64

# Average call duration in day, eve and night

In [39]:
avg_day= df.total_day_minutes.mean() / df.total_day_calls.mean()
avg_eve= df.total_eve_minutes.mean() / df.total_eve_calls.mean()
avg_night= df.total_night_minutes.mean() / df.total_night_calls.mean()

print('Average call duration in day:  ', round(avg_day,5))
print('Average call duration in eve:  ',round (avg_eve,5))
print('Average call duration in night:', round(avg_night,5))

Average call duration in day:   1.80236
Average call duration in eve:   2.00254
Average call duration in night: 2.00554

# Total day minutes and charge (day, eve and night)

In [49]:
total_day_mins= df.total_day_minutes.sum()+df.total_eve_minutes.sum()+df.total_night_minutes.sum()
print('Total minutes in whole day:  ', round(total_day_mins,3))

Total minutes in whole day:   2906585.4

In [50]:
total_day_charge= df.total_day_charge.sum()+df.total_eve_charge.sum()+df.total_night_charge.sum()
print('Total charge in whole day:  ', round(total_day_charge,3))

Total charge in whole day:   283608.61